head
	meta(charset='utf-8')
	if page && page.title
		title= page.title
	else if site && site.title
		title= site.title
	else
		title Accueil
	base(href='file:///'+siteBase+'/build/www/')
	meta(name="viewport",content="width=device-width, initial-scale=1.0")
	//- != getBlock('meta').toHTML()
	//- != getBlock('styles').add(['/styles/main.css']).toHTML()
	link(href="../../bower_components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet",media="screen")
	//- //if lt IE 9
	//-	script(src="../../bower_components/bootstrap/assets/js/html5shiv.js")
	//-	script(src="../../bower_components/bootstrap/assets/js/respond.min.js")
