div.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a.navbar-brand(href="tuteur/index.html") Dys'doc Tuteur
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.dropdown
					a.dropdown-toggle(href="tuteur/mesDocuments.html") Documents
						b.caret
					ul.dropdown-menu
						li
							a(href="tuteur/mesDocuments.html") Mes documents
						li
							a(href="tuteur/nouveauDocument.html") Ajouter un document
				li.dropdown
					a.dropdown-toggle(href="tuteur/mesProfils.html") Profils
						b.caret
					ul.dropdown-menu
						li
							a(href="tuteur/mesProfils.html") Gestion des profils
						li
							a(href="tuteur/nouveauProfil.html") Ajouter un Profil
