*
	font-family Verdana
h1
	text-align center
	margin 10%
a
	display block
	float left
	width 30%
	padding 5% 0
	margin 5% 100px
	background #CDF
	border-radius 20px
	text-align center
	text-decoration none
	color white
	font-size 40px
	text-shadow black 2px 2px 2px
	position relative
a:hover
	background #DEF
a:active
	background #BCE
a p
	display none
a:hover p
	display block
	position absolute
	top 100%
	font-size 14px
	text-align justify
	color black
	text-shadow none
	padding 5%
	width 90%
	background-color #EEF
	border-radius 20px
