!!! 5
html(lang="fr")
	//- head.jade dupliqué ici pour gérer la base différente. à gérer sous forme de paramètre par la suite.
	head
		meta(charset='utf-8')
		title Accueil
		base(href='./')
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		link(href="cdn/vendors/bootstrap.css",rel="stylesheet",media="screen")
		link(href="cdn/vendors/bootstrap-theme.css",rel="stylesheet",media="screen")
		link(href="cdn/tuteur.css",rel="stylesheet",media="screen")
	//- include ../templateModules/head
	body.container
		link(href="cdn/accueil.css",rel="stylesheet")
		h1 Bienvenue sur Dys'doc
		//- Accessiscan / Dys'learn / AdaptSup
		a.btn-primary(href="eleve/index.html") Élève
			p Accès destiné aux élèves.
				br
				br
				| L'ergonomie est optimisée pour faciliter l'apprentissage chez les dyspraxiques, et autres dys*.
		a.btn-primary(href="tuteur/index.html") Tuteur
			p Accès destiné aux tuteurs
				br
				br
				| Ici, l'interface est conçu pour faciliter l'optimisation des contenus scannés afin de les rendre accessibles aux élèves.
				| La personnalisation des règles d'affichages des élèves peut être faite par les tuteurs ou les élèves selon les paramètres du profil élève.
		include ../templateModules/footer
