!!! 5
html(lang="fr")
	include ../templateModules/head
	body.container
		link(href="cdn/accueil.css",rel="stylesheet")
		h1 Bienvenue sur Dys'doc
		//- Accessiscan / Dys'learn / AdaptSup
		a.btn-primary(href="eleve/index.html") Élève
			p Accès destiné aux élèves.
				br
				br
				| L'ergonomie est optimisée pour faciliter l'apprentissage chez les dyspraxique, et autre dys*.
		a.btn-primary(href="tuteur/index.html") Tuteur
			p Accès destiné aux tuteurs
				br
				br
				| Ici, l'interface est conçu pour faciliter l'optimisation des contenus scannés afin de les rendre accessible aux élèves.
				| La personnalisation des règles d'affichages des élèves peut être faite par les tuteurs ou les élèves selon les paramètres du profil élève.
		include ../templateModules/footer
