!!! 5
html(lang="fr")
	head
		meta(charset='utf-8')
		if page && page.title
			title= page.title
		else if site && site.title
			title= site.title
		else
			title Accueil
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		//- != getBlock('meta').toHTML()
		//- != getBlock('styles').add(['/styles/main.css']).toHTML()
		link(href="../../bower_components/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet",media="screen")
		link(href="cdn/accueil.css",rel="stylesheet")
		//- //if lt IE 9
		//-	script(src="../../bower_components/bootstrap/assets/js/html5shiv.js")
		//-	script(src="../../bower_components/bootstrap/assets/js/respond.min.js")
	body.container
		h1 Bienvenue sur Dys'doc
		//- Accessiscan / Dys'learn / AdaptSup
		a.btn-primary(href="eleve/") Élève
			p Accès destiné aux élèves.
				br
				br
				| L'ergonomie est optimisée pour faciliter l'apprentissage chez les dyspraxique, et autre dys*.
		a.btn-primary(href="tuteur/") Tuteur
			p Accès destiné aux tuteurs
				br
				br
				| Ici, l'interface est conçu pour faciliter l'optimisation des contenus scannés afin de les rendre accessible aux élèves.
				| La personnalisation des règles d'affichages des élèves peut être faite par les tuteurs ou les élèves selon les paramètres du profil élève.
		script(src='../../bower_components/jquery/jquery.min.js')
		script(src='../../bower_components/bootstrap/dist/js/bootstrap.min.js')
