!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		include ../../templateModules/menuTuteur
		.container
			h1(style='margin-top:70px') Editeur de Profil
			.jumbotron
				| Pofil actif
				br
				select
					option Antoine
					option Eloïse
					option Jason
					option Nathan
				.col-sm-6
					a.btn-primary.btn-block Sauvegarder les changements
				.col-sm-6
					a.btn-primary.btn-block Annuler les changements
			.col-sm-4
				input(type="checkbox")
				label Ligne à gauche et à droite du texte
				input(placeholder="couleur de la ligne de gauche")
				input(placeholder="couleur de la ligne de droite")
				br
				input(type="checkbox")
				label interligne modifié
				input(placeholder="taille de l'interligne")
				br
				input(type="checkbox")
				label faire varier les couleurs de chaque ligne
				input(placeholder="cycler sur n lignes")
				input(placeholder="couleur ligne 1")
				input(placeholder="couleur ligne 2")
				input(placeholder="couleur ligne 3")
				br
			.col-sm-8
				img(src="data/rawScan/1.jpg")
	include ../../templateModules/footer
