!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		include ../../templateModules/menuTuteur
		#bar-outil
			ul
				li
					img(src="cdn/icones.svg/sauv2.svg",title="Enregistrer. Accès rapide :  Ctrl + s")
				li
					img(src="cdn/icones.svg/rotate.svg",title="redraisser la page. Accès rapide : r (ou Ctrl+r depuis une zone de saisie)")
				li
					img(src="cdn/icones.svg/ligne-decoupe-horizontale.svg",title="découper en bloc sémantique. Accès rapide : d (ou Ctrl+d)")
				li
					img(src="cdn/icones.svg/text.svg",title="version texte. Accès rapide : t (ou ctrl+t)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="version orale. Accès rapide : o (ou Ctrl+o)")

			ul
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="redresser automatiquement si possible. Accès rapide : a (ou ctrl+a)")
				li
					img(src="cdn/icones.svg/rotate.svg",title="ajuster manuellement l'orientation de la page. Accès rapide : r (ou Ctrl+r)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="recadrer la page pour supprimer les bordures superflues. Accès rapide : c")

			ul
				li
					img(src="cdn/icones.svg/ligne-decoupe-horizontale.svg",title="placer une ligne de découpe horizontale")
				li
					.multi-icones(title="placer une ligne de découpe verticale. Accès rapide en maintenant la touche Ctrl (Contrôle).")
						img(src="cdn/icones.svg/ligne-decoupe-verticale.svg")
						img(src="cdn/icones.svg/ctrl.svg")
				li
					.multi-icones(title="qualifier le bloc (tag, catégorie). Accès rapide : Alt + clic")
						img(src="cdn/icones.svg/icone-manquante.svg")
						img(src="cdn/icones.svg/alt.svg")
				li
					.multi-icones(title="vérrouiller le niveau des lignes de découpe. Accès rapide en maintenant la touche Shift (Majuscule).")
						img(src="cdn/icones.svg/icone-manquante.svg")
						img(src="cdn/icones.svg/shift.svg")
				li
					.multi-icones(title="descendre d'un niveau la ligne de découpe. Accès rapide : Molette haut.")
						img(src="cdn/icones.svg/icone-manquante.svg")
						img(src="cdn/icones.svg/icone-manquante.svg")
				li
					.multi-icones(title="monter d'un niveau la ligne de découpe. Accès rapide : Molette bas.")
						img(src="cdn/icones.svg/icone-manquante.svg")
						img(src="cdn/icones.svg/icone-manquante.svg")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="afficher l'aide. Accès rapide : h (ou Ctrl + h)")

			ul
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="Reconnaissance automatique des texte (OCR). Accès rapide : a (ctrl+a)")
				li
					img(src="cdn/icones.svg/text.svg",title="editeur de texte Markdown. Accès rapide : t (ou Ctrl + t)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="editeur de formule mathématique. Accès rapide : m (ou ctrl + m)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="afficher l'aide. Accès rapide : h (ou Ctrl + h)")

			ul
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="Lancer la syntèse vocale et l'écouter. Accès rapide : a (ctrl+a)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="Enregistrer. Accès rapide : e (ou ctrl + e)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="lire la version enregistré. Accès rapide : l (ou ctrl + l)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="pause. Accès rapide : p (ou ctrl + p)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="lire la version enregistré. Accès rapide : o (ou ctrl + o)")
				li
					img(src="cdn/icones.svg/icone-manquante.svg",title="afficher l'aide. Accès rapide : h (ou Ctrl + h)")

		.container
			img(src="data/rawScan/1.jpg")
		include ../../templateModules/footer
