!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		include ../../templateModules/menuTuteur
		.container
			h1(style='margin-top:70px') Espace Tuteur
			p.lead
				| Pour toutes remarques, suggestions ou problèmes rencontrés, une page est à votre disposition :
				a.btn.btn-primary.btn-block(href='https://github.com/cnedDI/06AdaptSup/issues') https://github.com/cnedDI/06AdaptSup/issues
		include ../../templateModules/footer
