!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		div.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="") Dys'doc Tuteur
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="#") Accueil
						li
							a(href="#") Accueil
						li
							a(href="#") Accueil
						li.dropdown
							a.dropdown-toggle(href="#") Accueil
							ul.dropdown-menu
								li
									a(href="#") Accueil
								li
									a(href="#") Accueil
								li
									a(href="#") Accueil
								li.divider
								li.dropdown-header
								li
									a(href="#") Accueil
								li
									a(href="#") Accueil
		.container
			h1 Espace Tuteur
			p.lead
				| Pour toutes remarques, suggestions ou problèmes rencontrés, une page est à votre disposition :
				a.btn.btn-primary.btn-block(href='https://github.com/cnedDI/06AdaptSup/issues') https://github.com/cnedDI/06AdaptSup/issues
		include ../../templateModules/footer
