!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		include ../../templateModules/menuTuteur
		.container
			h1(style='margin-top:70px') Mes documents
			.jumbotron
				//- label(for="docView") Visualiser les documents partagés à un élève
				select#docView
					option Tous mes documents
					option Documents d'Antoine
					option Documents d'Eloïse
					option Documents de Jason
					option Documents de Nathan
				br
				a(href="tuteur/nouveauDocument.html") Ajouter un document
			ul
				li Favoris
					ul
						li.book: a(href="tuteur/editeurDocument.html") Manuel de Math 3ème collection Hachette
						li: a(href="tuteur/editeurDocument.html") exo de math pour vendredi 13
						li: a(href="tuteur/editeurDocument.html") Carte de France des départements
				li 6ème
					ul
						li français
							ul
								li.book: a(href="tuteur/editeurDocument.html") Manuel de Français 6ème collection Nathan
								li.book: a(href="tuteur/editeurDocument.html") Les fables de La Fontaine
								li: a(href="tuteur/editeurDocument.html") exercices sur les ai, et, est, es
								li: a(href="tuteur/editeurDocument.html") exercices sur les fins de mots en ai, ais, ait, é ou er
						li math
							ul
								li.book: a(href="tuteur/editeurDocument.html") Manuel de Math 6ème collection Nathan
								li: a(href="tuteur/editeurDocument.html") controle maison pour Lundi
								li: a(href="tuteur/editeurDocument.html") fiche récapitulative sur les nombres à virgule
						li histoire géographie
							ul
								li.book: a(href="tuteur/editeurDocument.html") Manuel d'Histoire 6ème collection Hachette
								li.book: a(href="tuteur/editeurDocument.html") Manuel de Géographie 6ème collection Nathan
								li: a(href="tuteur/editeurDocument.html") Carte de France des départements
								li: a(href="tuteur/editeurDocument.html") Carte de France des régions
								li: a(href="tuteur/editeurDocument.html") Carte de France des montagnes
								li: a(href="tuteur/editeurDocument.html") Carte de France des fleuves
								li: a(href="tuteur/editeurDocument.html") Extrait de journal du 11 septembre 2001
								li: a(href="tuteur/editeurDocument.html") Les réformes de mai 68
								li: a(href="tuteur/editeurDocument.html") frise chronologique des dinosaures
				li 5ème
					ul
						li français
							ul
								li.book: a(href="tuteur/editeurDocument.html") Manuel de Français 5ème collection Nathan
								li.book: a(href="tuteur/editeurDocument.html") Les fables de La Fontaine
								li: a(href="tuteur/editeurDocument.html") exercices sur les ai, et, est, es
								li: a(href="tuteur/editeurDocument.html") exercices sur les fins de mots en ai, ais, ait, é ou er
						li math
							ul
								li.book: a(href="tuteur/editeurDocument.html") Manuel de Math 5ème collection Nathan
								li: a(href="tuteur/editeurDocument.html") controle maison pour Lundi
								li: a(href="tuteur/editeurDocument.html") fiche récapitulative sur les nombres à virgule
						li histoire géographie
							ul
								li.book: a(href="tuteur/editeurDocument.html") Manuel d'Histoire 5ème collection Hachette
								li.book: a(href="tuteur/editeurDocument.html") Manuel de Géographie 5ème collection Nathan
								li: a(href="tuteur/editeurDocument.html") Carte de France des départements
								li: a(href="tuteur/editeurDocument.html") Carte de France des régions
								li: a(href="tuteur/editeurDocument.html") Carte de France des montagnes
								li: a(href="tuteur/editeurDocument.html") Carte de France des fleuves
								li: a(href="tuteur/editeurDocument.html") Extrait de journal du 11 septembre 2001
								li: a(href="tuteur/editeurDocument.html") Les réformes de mai 68
								li: a(href="tuteur/editeurDocument.html") frise chronologique des dinosaures
		include ../../templateModules/footer
