!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		include ../../templateModules/menuTuteur
		.container
			h1(style='margin-top:70px') Mes profils
			.jumbotron
				a(href="tuteur/nouveauProfil.html") Ajouter un Profil
			ul
				li: a(href="tuteur/editeurProfil.html") Profil d'Antoine
				li: a(href="tuteur/editeurProfil.html") Profil d'Eloïse
				li: a(href="tuteur/editeurProfil.html") Profil de Jason
				li: a(href="tuteur/editeurProfil.html") Profil de Nathan
		include ../../templateModules/footer
