!!! 5
html(lang="fr")
	include ../../templateModules/head
	body
		include ../../templateModules/menuTuteur
		.container
			h1(style='margin-top:70px') Mes profils
		include ../../templateModules/footer
